@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo';
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
}

body {
    font-family: 'Heebo', sans-serif;
    color: #21243D;
    background-color: white;
}

header {
    width: 100%;
    padding: 27px 60px;
}

header #colored{
    color:#FF6464
}

header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 500;
    gap: 30px;
}
header nav ul .mobile-navbar{
    visibility: collapse;
}

header nav ul li a {
    transition-duration: 0.3s;
}

header nav ul li a:hover {
    color: #FF6464;
}







main .title{
    width: 37%;
    margin: 0 auto;
    padding-bottom: 30px;
}

main .h{
    font-size: 44px;
    font-weight: 700;
}


main .section-1{
    display: flex;
    flex-direction: column;
    gap:16px;
    flex-wrap: wrap;
    width: 681px;
    margin: 0 auto;
}
main .section-2{
    display: flex;
    flex-direction: column;
    gap:27px;
    flex-wrap: wrap;
    width: 681px;
    margin: 0 auto;
    padding-top: 54px;
}

main .section-1 .span-section{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
main .section-1 .span-section #year{
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border-radius: 16px;
    background: var(--Year, #FF7C7C);
    padding: 0 10px;
}

main .section-1 .span-section #greyitem{
    color: var(--Light, #8695A4);
    font-size: 20px;
}




footer {
    height: 182px;
    margin-top: 78px;
}

footer .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 45px;
}

footer p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;

}




@media screen and (max-width:768px) {
    header nav ul{
        visibility: collapse;
        align-items: center;
        
    }
    header nav ul img{
        visibility: visible;
    }

    main p{
        width: 50%;
    }

    main img{
        width: 50%;
    }
}