@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo';
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
}

body {
    font-family: 'Heebo', sans-serif;
    color: #21243D;
    background-color: white;
}

header {
    width: 100%;
    padding: 27px 60px;
}

header #colored{
    color:#FF6464
}

header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 500;
    gap: 30px;
}
header nav ul .mobile-navbar{
    visibility: collapse;
}

header nav ul li a {
    transition-duration: 0.3s;
}

header nav ul li a:hover {
    color: #FF6464;
}




main .title{
    margin: 0 auto;
    align-items: center;
    padding-bottom: 30px;
}

main .h{
    width: 506px;
    color: var(--Dark-Color, #21243D);
    font-size: 34px;
    font-weight: 700;
}


main .box-container{
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    gap: 20px;
}


main .box-container .box{
    display: flex;
    width: 681px;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
    gap: 20px;
    flex-wrap: wrap;
}

main .box-container .box .right-section{
    display: flex;
    flex-direction: column;
    gap:16px;
    flex-wrap: wrap;
}

main .box-container .box .right-section .span-section{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
main .box-container .box .right-section .span-section #year{
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border-radius: 16px;
    background-color: #142850;
    padding: 0 10px;
}

main .box-container .box .right-section .span-section #greyitem{
    color: var(--Light, #8695A4);
    font-size: 20px;
}

main .box-container .box .right-section .p-1{
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}




@media screen and (max-width:768px) {
    header nav ul{
        visibility: collapse;
        align-items: center;
        
    }
    header nav ul img{
        visibility: visible;
    }

    
    .box-container .box{
        width: 270px;
        flex-shrink: 0;
        flex-wrap: wrap;
    }

    .box-container{
        display: flex;
        flex-direction: column;
    }
    main .box-container .box .right-section .p-2{
        width: 35%;
    }

}























































footer {
    height: 182px;
    margin-top: 53px;
}
footer .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 45px;
}

footer p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;

}